<template>
  <fish-layout sider="l" responsive class="main-layout">
    <nav slot="header">
      <div class="logo">
        <i class="fa fa-bolt"/> e-pelapoaran
      </div>
      <ul class="nav-right">
        <li>
          <fish-dropdown align="bottom-right">
            <a slot="title">
              {{userName}}
              <i class="fa fa-angle-down" style="margin-left: 10px;"></i>
            </a>
            <fish-option index="settings" content="Settings" @click="navigation('/settings')"></fish-option>
            <fish-option index="exit" content="Exit" @click="exit"></fish-option>
          </fish-dropdown>
        </li>
      </ul>
    </nav>
    <div slot="sider">
      <fish-menu
        mode="inline"
        v-if="menus"
        :defaultActive="defaultActiveIndex"
        @change="menuChangeHandler"
      >
        <template v-for="menu in menus">
          <fish-submenu :index="menu.key" mode="inline" :key="menu.key" v-if="menu.children">
            <template slot="title">
              <i v-if="menu.icon" :class="menu.icon"/>
              {{ menu.title }}</template>
            <fish-option
              :index="`${menu.key}-${child.key}`"
              :content="child.title"
              v-for="child in menu.children"
              :key="child.key"
              @click="navigation(menu.url + child.url)"
            >
              <i v-if="child.icon" :class="child.icon"/>
              {{ child.title }}
            </fish-option>
          </fish-submenu>
          <fish-option
            :key="menu.key"
            :index="menu.key"
            :content="menu.title"
            v-else
            @click="navigation(menu.url)"
          >
            <i v-if="menu.icon" :class="menu.icon"/>
            {{ menu.title }}
          </fish-option>
        </template>
      </fish-menu>
    </div>
    <div slot="content">
      <router-view></router-view>
    </div>
    <div slot="footer">
      <p>copyright@2019 Ahmad Sukri Abdillah</p>
    </div>
  </fish-layout>
</template>
<script>
import enquire from "enquire.js";
import _nav from "@/_nav";
export default {
  name: "DefaultContainer",
  props: {},
  data() {
    return {
      isResponsive: true,
      userName: null,
      menus: _nav,
      isMobile: false,
      defaultActiveIndex:
        sessionStorage.getItem("menuActiveIndex") === "undefined"
          ? "/"
          : sessionStorage.getItem("menuActiveIndex")
    };
  },
  mounted() {
    enquire.register("screen and (max-width:400px)", {
      match: () => {
        this.isMobile = true;
        console.log("the screen is now small");
      },
      unmatch: () => {
        this.isMobile = false;
        console.log("the screen is now large");
      }
    });
  },
  methods: {
    exit() {},
    navigation(url) {
      this.$router.push(url);
    },
    menuChangeHandler(index) {
      sessionStorage.setItem("menuActiveIndex", index);
    }
  }
};
</script>
<style>
.main-layout {
  height: auto;
  color: #666;
}
.main-layout > .header {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.05);
  /*border-bottom: 1px solid #e9e9e9;*/
  vertical-align: middle;
  line-height: 60px;
  height: 60px;
  margin-bottom: 1px;
}
.main-layout > .has-sider > .content {
  padding: 1em;
}
.fish.layout > .sider {
  border-right: 3px solid #e9e9e9;
  font-weight: bold;
}
.main-layout .nav-right {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 1em;
}
.main-layout .nav-right li {
  padding-left: 1em;
  float: left;
}
.main-layout .sider .fish.menu .item,
.main-layout .sider .fish.menu.inline .submenu.item.active {
  font-weight: bold;
  color: #6a6c6f;
  margin-right: -3px;
}

.logo {
  font-weight: bold;
  font-size: 1.8rem;
  color: #566374;
  float: left;
  /*font-style: oblique;*/
  width: 200px;
  text-align: center;
  border-right: 3px solid #e9e9e9;
  /*border-bottom: 1px solid #e9e9e9;*/
  background: #f7f9fa;
  /*box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);*/
}

.form-search {
  margin-bottom: 0.8em;
}
</style>
