<template>
  <div class="dashboard">
    <fish-cards :cols="'four'">
      <state-overview />
      <state-overview />
      <state-overview />
      <state-overview />
      <state-overview />
      <state-overview />
      <state-overview />
      <state-overview />
    </fish-cards>
  </div>
</template>
<script>
const StateOverview = () => import('@/components/StateOverview');
export default {
  name: "Dashboard",
  components: {
    StateOverview
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {}
};
</script>
<style>
body {
  height: auto;
}
</style>
