<template>
  <div>
    <div class="sign_in">
      <div class="logo">
        <i class="fa fa-bolt"/>e-pelapoaran
      </div>
      <h3>Please Identy yourself.</h3>
      <fish-form ref="form" @submit.prevent="submit">
        <fish-field
          name="userName"
          :rules="[{ required: true, message: 'The username is not empty'}]"
        >
          <fish-input
            :iconLeft="true"
            icon="fa fa-user"
            hint="Pleas input username"
            v-model="userName"
          ></fish-input>
        </fish-field>
        <fish-field
          name="password"
          :rules="[{ required: true, message: 'The password is not empty'}]"
        >
          <fish-input
            :iconLeft="true"
            icon="fa fa-lock"
            hint="Pleas input password"
            type="password"
            v-model="password"
          ></fish-input>
        </fish-field>
        <fish-button type="primary" :loading="loading" :disabled="loading">Submit</fish-button>
      </fish-form>
      <fish-message type="warning" v-if="error" style="margin-top: 10px;">Error, Please try again</fish-message>
    </div>
  </div>
</template>
<script>
import { setTimeout } from "timers";
export default {
  name: "login",
  data() {
    return {
      logout: false,
      error: false,
      loading: false,
      userName: "",
      password: ""
    };
  },
  mounted() {},
  methods: {
    submit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true;
          setTimeout(() => {
            this.loading = !this.loading;
          }, 2000);
        }
      });
    }
  }
};
</script>
<style>
body {
  height: auto;
}
.sign_in {
  position: relative;
  margin: 100px auto;
  width: 350px;
  /*border-top: solid 1px #EBEBEB;*/
}
.sign_in .logo {
  display: block;
  width: 250px;
  position: absolute;
  top: 42px;
  left: -300px;
  background-color: #f7f9fa;
  text-align: center;
  vertical-align: middle;
  color: #566374;
  font-weight: bold;
  padding: 20px 0;
  font-size: 2rem;
  border-right: 3px solid #e9e9e9;
}
.sign_in h3 {
  font-size: 1.2em;
  font-weight: 700;
  color: #39464e;
  margin-top: 10px;
  margin-bottom: 12px;
}
</style>
