<template>
  <fish-card :class="'state-overview'">
    <div class="symbol">
      <i :class="icon"></i>
    </div>
    <div class="value">
      <h1>{{ value }}</h1>
      <p>
        <b>{{ title }}</b>
      </p>
    </div>
  </fish-card>
</template>

<script>
export default {
  name: "StateOverview",
  props: {
    title: {
      type: String,
      default: "Menunggu"
    },
    icon: {
      type: String,
      default: "fa fa-bolt fa-4x"
    },
    value: {
        type: [String, Number],
        default: 0
    }
  }
};
</script>

<style scoped>
.state-overview .symbol {
  background-color: #fa0a52;
  width: 40%;
  padding: 25px 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
}
.state-overview .symbol,
.state-overview .value {
  display: inline-block;
  text-align: center;
}
.state-overview .value {
  width: 58%;
  padding-top: 21px;
  float: right;
}
</style>
