<template>
  <div class="switcher">
    <fish-buttons :style="{float: 'right'}">
      <fish-button style="position: relative;"
        v-for="item in items"
        :key="item.name"
        @click="onSelected(item)"
        :type="item.name == selected_items ? 'primary': ''"
      >
        {{ item.title }}
        <i :class="item.icon"/>
        <fish-tag :index="item.title" floating color="negative">{{ Math.floor((Math.random() * 10) + 1) }}</fish-tag>
      </fish-button>
    </fish-buttons>
  </div>
</template>

<script>
export default {
  name: "Switcher",
  props: {
    items: {
      type: Array,
      required: true
    },
    selected: {
      type: String,
      requred: true,
      default: ""
    }
  },
  data() {
    return {
      selected_items: this.selected
    };
  },
  methods: {
    onSelected(item) {
      this.selected_items = item.name;
      this.$emit("on-selected", item);
    }
  }
};
</script>

<style>
</style>
