<template>
  <fish-form ref="form">
    <ul>
      <li>
        <fish-button @click="back" shape="circle">
          <i class="fa fa-arrow-left"></i>
        </fish-button>
      </li>
      <li>
        <div><h1>Detail Ticket</h1></div>
      </li>
    </ul>
    <br>
    <fish-cards :cols="'two'">
      <fish-card>
        <div slot="header">Contact Info</div>
        <fish-field label="Ticket ID" label-for="input-1">
          <fish-input trim></fish-input>
        </fish-field>
        <fish-field label="Source" label-for="input-1">
          <fish-input trim></fish-input>
        </fish-field>
        <fish-field label="Date" label-for="input-1">
          <fish-input trim></fish-input>
        </fish-field>
        <fish-field label="Name" label-for="input-1">
          <fish-input trim></fish-input>
        </fish-field>
        <fish-field label="Address" label-for="input-1">
          <fish-input rows="3" type="textarea"></fish-input>
        </fish-field>
        <fish-field label="City" label-for="input-1">
          <fish-input trim></fish-input>
        </fish-field>
        <fish-field label="Email" label-for="input-1">
          <fish-input trim></fish-input>
        </fish-field>
        <fish-field label="Phone 1" label-for="input-1">
          <fish-input trim></fish-input>
        </fish-field>
        <fish-field label="Phone 2" label-for="input-1">
          <fish-input trim></fish-input>
        </fish-field>
      </fish-card>
      <fish-card>
        <div slot="header">Remark & Feedback</div>
        <fish-field label="Remark" label-for="input-1">
          <fish-input rows="3" type="textarea"></fish-input>
        </fish-field>
        <fish-field label="Feedback" label-for="input-1">
          <fish-input rows="3" type="textarea"></fish-input>
        </fish-field>

        <fish-field label="Category" label-for="input-1">
          <fish-select v-model="singleSelectedValue">
            <fish-option index="0" content="Option-1"></fish-option>
            <fish-option index="1" content="Option-2"></fish-option>
            <fish-option index="2" content="Option-3"></fish-option>
            <fish-option index="3" content="Option-4"></fish-option>
            <fish-option index="4" content="Option-5"></fish-option>
          </fish-select>
        </fish-field>
      </fish-card>
      <fish-card>
        <div slot="header">Ticket Confim</div>
        <fish-field label="Remark" label-for="input-1">
          <fish-input rows="3" type="textarea"></fish-input>
        </fish-field>
        <fish-field label="Feedback" label-for="input-1">
          <fish-input rows="3" type="textarea"></fish-input>
        </fish-field>

        <fish-field label="Category" label-for="input-1">
          <fish-select v-model="singleSelectedValue">
            <fish-option index="0" content="Option-1"></fish-option>
            <fish-option index="1" content="Option-2"></fish-option>
            <fish-option index="2" content="Option-3"></fish-option>
            <fish-option index="3" content="Option-4"></fish-option>
            <fish-option index="4" content="Option-5"></fish-option>
          </fish-select>
        </fish-field>
      </fish-card>
    </fish-cards>
  </fish-form>
</template>

<script>
export default {
  name: "report-detail",
  data() {
    return {
      image_setting: {
        blankColor: "#777",
        width: 128,
        height: 128,
        class: "m1"
      },
      category: [{ value: "sos", text: "SOS" }]
    };
  },
  methods: {
    back(){
      this.$router.back();
    }
  }
};
</script>

<style scoped>
ul {
  padding: 0;
  margin: 0;
}
ul li{
  display: inline-block;
  padding: 5px;
      margin: auto;
}
</style>
