<template>
  <fish-card color="blue">
    <div slot="header">#{{ item.ticket_id }} <fish-tag :style="{float: 'right'}" :color="'orange'">{{ item.status }}</fish-tag> </div>
    
    <table>
      <tr>
        <td>
          <b>Nama</b>
        </td>
        <td>:</td>
        <td>{{ item.contact_name }}</td>
      </tr>
      <tr>
        <td>
          <b>Sumber</b>
        </td>
        <td>:</td>
        <td>
          {{ item.ticket_src }}
          {{ item.call_id }}
        </td>
      </tr>
      <tr>
        <td valign="top">
          <b>Remark</b>
        </td>
        <td valign="top">:</td>
        <td valign="top">{{ show_more(item.remark) }}</td>
      </tr>
      <tr>
        <td valign="top">
          <b>Alamat</b>
        </td>
        <td valign="top">:</td>
        <td valign="top">{{ show_more(item.address) }}</td>
      </tr>
    </table>
    <div slot="footer">
      
      <fish-buttons :style="{float: 'right'}">
        <fish-button type="primary" @click="show_timeline">
          <i class="fa fa-list"/>
        </fish-button>
        <fish-button type="primary" @click="show_details">
          <i class="fa fa-info-circle"/>
        </fish-button>
      </fish-buttons>
    </div>
    <fish-modal title="Timeline" :visible.sync="modals_timeline">
      <fish-timeline v-if="details">
        <fish-timeline-item v-for="log in details.ticket_log" :key="log.id">
          <h4>{{ log.status }} On {{ log.lup }}</h4>
          {{ log.feedback }}
        </fish-timeline-item>
      </fish-timeline>
    </fish-modal>
  </fish-card>
</template>

<script>
export default {
  name: "report-item",
  props: {
    item: Object
  },
  data() {
    return {
      modals_timeline: false,
      collapse: true,
      columns: {
        sm: 6,
        md: 4
      },
      details: null
    };
  },
  watch: {},
  methods: {
    show_more(caracter) {
      if (caracter.length > 20) {
        return caracter.substring(0, 17) + "...";
      } else {
        return caracter;
      }
    },
    get_details() {
      return this.axios({
        url: `api/report/${this.item.ticket_id}`,
        method: "get",
        params: {}
      });
    },
    show_timeline() {
      this.get_details().then(data => {
        this.details = data.data;
        this.modals_timeline = !this.modals_timeline;
      });
    },
    show_details() {
      this.$router.push({
        name: "report-details",
        params: { ticket_id: this.item.ticket_id }
      });
    }
  }
};
</script>

<style>
</style>
