<template>
  <div class="work-order">
    <fish-row gutter=".6">
      <fish-col span="8">
        <h2>Pelaporan</h2>
      </fish-col>
      <fish-col span="16" justify="end">
        <switcher @on-selected="onChangeStatus" :selected="selected" :items="list_state"/>
      </fish-col>
    </fish-row>

    <fish-cards :cols="columns">
      <report-item v-for="items in reports" :item="items" v-bind:key="items.ticket_id"/>
      <fish-divider></fish-divider>
      <fish-pagination
        :total="total_item"
        :current="current_page"
        :rows="limit"
        @change="(current) => current_page = current"
      ></fish-pagination>
    </fish-cards>
  </div>
</template>

<script>
const Switcher = () => import("@/components/Switcher");
const ReportItem = () => import("@/views/pelaporan/ReportItem");
import enquire from "enquire.js";
export default {
  name: "work-order",
  data() {
    return {
      list_state: [
        {
          title: "Menunggu",
          name: "Menunggu",
          icon: "fa fa-bolt"
        },
        {
          title: "Eskalasi",
          name: "Eskalasi",
          icon: "fa fa-bolt"
        },
        {
          title: "Teruskan",
          name: "Teruskan",
          icon: "fa fa-bolt"
        },
        {
          title: "Tertunda",
          name: "Tertunda",
          icon: "fa fa-bolt"
        },
        {
          title: "Proses",
          name: "Proses",
          icon: "fa fa-bolt"
        },
        {
          title: "Ditangani",
          name: "Ditangani",
          icon: "fa fa-bolt"
        },
        {
          title: "Selesai",
          name: "Selesai",
          icon: "fa fa-bolt"
        }
      ],
      reports: [],
      columns: "four",
      selected: "Menunggu",
      current_page: 1,
      total_page: 1,
      limit: 8,
      total_item: 1
    };
  },
  components: {
    ReportItem,
    Switcher
  },
  watch: {
    current_page: {
      handler() {
        this.fetch_report();
      }
    },
    selected: {
      handler() {
        this.fetch_report();
      }
    }
  },
  mounted() {
    this.fetch_report();
    enquire.register("screen and (max-width:400px)", {
      match: () => {
        this.columns = "one";
        console.log("the screen is now small");
      },
      unmatch: () => {
        this.columns = "four";
        console.log("the screen is now large");
      }
    });
  },
  methods: {
    onChangeStatus(data) {
      this.selected = data.name;
    },
    fetch_report() {
      this.axios({
        url: "api/report",
        method: "get",
        params: {
          limit: this.limit,
          page: this.current_page,
          status: this.selected
        }
      }).then(response => {
        this.reports = response.data.models;
        let { total_record, total_page, page } = response.data.page_info;
        this.current_page = page;
        this.total_page = total_page;
        this.total_item = total_record;
      });
    }
  }
};
</script>

<style>
</style>
